* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}

#root,
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.MainContent {
  flex: 1;
}

.content{
  max-width: var(--container-width);
  margin: 0 auto;
}