*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100%;
    width: 100%;
    background-color: var(--tlo);
}
main{
    background-color: white;
    outline: solid 5px var(--glowny);
    width: 90%;
    padding: 2% 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 3% auto 3% auto;
    transition: all 0.3s ease-in;
    &:hover{
        outline: solid 20px var(--glowny);
        box-shadow: 0 0 0 25px var(--hover);
        transition: all 0.3s ease-in;
    }
}
main h1, main h2, main h3{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 5vh;
    margin: 2% 0;
}
main h2{
    font-size: 4vh;
}
main h3{
    font-size: 3.7vh;
}
main section{
    width: 90%;
    margin-left: 5%;
}
main .Szcz{
    font-weight: bold;
    font-size: 2.8vh;
}
main ul{
    margin: 1% 0;
    padding-left: 3%;
    width: 80%;
}
main ul li{
    list-style: none;
    font-size: 2.5vh;

}

main ul li::before{
    content: "arrow_right_alt";
    font-family: 'Material Symbols Outlined';
    font-size: 20px;
    vertical-align: middle;
    margin-right: 3px;
    display: inline-block;
    color: var(--glowny);
    font-weight: bold;
}
main ol li{
    font-size: 2.7vh;
}
main li, main p{
    font-family: "Lato", sans-serif;
}
main p{
    font-size: 2.5vh;
}
main hr{
   border: solid 1px var(--glowny);
   width: 90%;
   margin-left: 5%;
}
#podpis{
    text-align: end;
    margin: 2% auto 2% auto;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
@media screen and (max-width: 1090px){
    main:hover{
        outline: solid 5px var(--glowny);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in;
    }
    
}
